<div>
    <label for="nome">nome</label>
    <input placeholder="insira o nome" name="nome" id="nome">
</div>
<div>
    <label for="sobrenome">sobrenome</label>
    <input placeholder="insira o sobrenome" name="sobrenome" id="sobrenome">
</div>
<div>
    <label for="email">email</label>
    <input placeholder="insira o endereço email" name="email" id="email">
</div>
<div>
    <label for="telefone">telefone</label>
    <input placeholder="insira o número telefone" name="telefone" id="telefone">
</div>
<div class="actions" data-tipo="inserir">
    <button class="bt-remover" name="remover">remover</button>
    <button class="bt-salvar" name="salvar">salvar</button>
</div>